@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-soft text-ink font-sans antialiased selection:bg-brand-100 selection:text-brand-900;
  }
}

/* Custom micro-animations & layout tweaks */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input, select, textarea {
  @apply outline-none transition-all duration-200 focus:ring-2 focus:ring-brand-500 focus:border-brand-500;
}
